.statistics {
  width: 400px;
  margin: 0 auto;
  background-color: rgb(231, 229, 229);
}

.title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.statlist {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 10px;
  background: tomato;
  border: 1px solid black;
}

.percentage {
  font-weight: 500;
  font-size: 18px;
}
